<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddOrganogramBean</servlet-name>
        <servlet-class>userBean.AddOrganogramBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindMainDepartment</servlet-name>
        <servlet-class>userBean.FindMainDepartment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllOrganogramBean</servlet-name>
        <servlet-class>userBean.AllOrganogramBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllEmployeeBean</servlet-name>
        <servlet-class>userBean.AllEmployeeBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginBean</servlet-name>
        <servlet-class>userBean.LoginBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployeeBean</servlet-name>
        <servlet-class>userBean.AddEmployeeBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDocumentBean</servlet-name>
        <servlet-class>userBean.AddDocumentBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllNewDocument</servlet-name>
        <servlet-class>userBean.AllNewDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllRunningDocument</servlet-name>
        <servlet-class>userBean.AllRunningDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllEndDocument</servlet-name>
        <servlet-class>userBean.AllEndDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddReceivesDocument</servlet-name>
        <servlet-class>userBean.AddReceivesDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllReturnWorkEmp</servlet-name>
        <servlet-class>userBean.AllReturnWorkEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllNewWorkEmp</servlet-name>
        <servlet-class>userBean.AllNewWorkEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllComment</servlet-name>
        <servlet-class>userBean.AllComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRecDoc</servlet-name>
        <servlet-class>userBean.UpdateRecDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertComment</servlet-name>
        <servlet-class>userBean.InsertComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllEmpUnderEmp</servlet-name>
        <servlet-class>userBean.AllEmpUnderEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRecDocForEmp</servlet-name>
        <servlet-class>userBean.AddRecDocForEmp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddOrganogramBean</servlet-name>
        <url-pattern>/AddOrganogramBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindMainDepartment</servlet-name>
        <url-pattern>/FindMainDepartment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllOrganogramBean</servlet-name>
        <url-pattern>/AllOrganogramBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllEmployeeBean</servlet-name>
        <url-pattern>/AllEmployeeBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginBean</servlet-name>
        <url-pattern>/LoginBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployeeBean</servlet-name>
        <url-pattern>/AddEmployeeBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDocumentBean</servlet-name>
        <url-pattern>/AddDocumentBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllNewDocument</servlet-name>
        <url-pattern>/AllNewDocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllRunningDocument</servlet-name>
        <url-pattern>/AllRunningDocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllEndDocument</servlet-name>
        <url-pattern>/AllEndDocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddReceivesDocument</servlet-name>
        <url-pattern>/AddReceivesDocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllReturnWorkEmp</servlet-name>
        <url-pattern>/AllReturnWorkEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllNewWorkEmp</servlet-name>
        <url-pattern>/AllNewWorkEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllComment</servlet-name>
        <url-pattern>/AllComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRecDoc</servlet-name>
        <url-pattern>/UpdateRecDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertComment</servlet-name>
        <url-pattern>/InsertComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllEmpUnderEmp</servlet-name>
        <url-pattern>/AllEmpUnderEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRecDocForEmp</servlet-name>
        <url-pattern>/AddRecDocForEmp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
